<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-wayfarer" version="1.0.0">
	<name>Wayfarer</name>
	<license>MIT</license>
	<description>Cordova plugin for determining activity based on device motion.</description>
	<keywords>cordova, wayfarer</keywords>
	<repo>https://github.com/EvanWieland/cordova-plugin-wayfarer.git</repo>

	<js-module src="www/Wayfarer.js" name="Wayfarer">
		<clobbers target="window.Wayfarer"/>
	</js-module>
	
	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>
</plugin>
